.sidenav-container {
  height: 85vh;
  background-color: #1b4f83; 
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  color: aliceblue;
  overflow: auto;

  .sidenav {

    .nav-list {
      display: flex;
      flex-direction: column;

      .nav-category {
        .category-header {
          cursor: pointer;
          display: flex;
          justify-content: space-between;
          margin-top: 10px;
          padding: 15px;
          font-weight: bolder;
          transition: background-color 0.3s;

          &.active {
            background-color: #e0e0e0;
          }

          .expand-icon {
            transition: transform 0.3s;
          }
        }

        .category-items {
          .nav-item {
            padding: 15px;
            cursor: pointer;
            display: flex;
            align-items: center;
            transition: background-color 0.3s;

            &.active {
              background-color: rgba(0, 183, 255, 0.87)
            }

            .item-icon {
              margin-right: 10px;
            }

            .item-text {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
