<div class="sidenav-container">
  <div class="sidenav">
    <div class="nav-list">
      @for (category of menuCategories; track $index) {
        <ng-container>
          <div class="nav-category">
            <div class="category-header" (click)="category.isOpen = !category.isOpen">
              {{ category.name }}
              <!-- <mat-icon class="expand-icon">{{ category.isOpen ? 'expand_less' : 'expand_more' }}</mat-icon> -->
            </div>
            @if (category.isOpen) {
              <div class="category-items">
                @for (item of category.items; track $index) {
                  <div class="nav-item"
                    [routerLink]="item.route" routerLinkActive="active" (click)="onNavItemClick(item)">
                    <mat-icon class="item-icon">{{ item.icon }}</mat-icon>
                    @if (showText) {
                      <span class="item-text">{{ item.name }}</span>
                    }
                    
                  </div>
                }
              </div>
            }
          </div>
        </ng-container>
      }
    </div>
    </div>
</div>
