<div class="profile-container">
    <div class="header">
      <h1>My Profile</h1>
      <mat-slide-toggle class="theme-switch" (change)="toggleDarkTheme($event)">Dark Theme</mat-slide-toggle>
    </div>
    <div class="cards-container">
      <mat-card class="profile-card">
        <h2 class="card-title">Card 1 Title</h2>
        <p class="card-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </mat-card>
      <mat-card class="profile-card">
        <h2 class="card-title">Card 2 Title</h2>
        <p class="card-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </mat-card>
      <!-- <mat-card class="profile-card">
        <h2 class="card-title">Card 3 Title</h2>
        <p class="card-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </mat-card> -->
    </div>
  </div>
  
