@import '../../../../style-variables.scss';

.header-toolbar {
  display: flex;
  justify-content: space-between;
  background-color: $bg-color;
  align-items: center;

.header-content {
  display: flex;
  align-items: center;
  width: 100vW;

.icon img {
  height: 40px; /* Adjust as needed */
  margin-right: 20px;
}

.username {
  font-weight: 800;
  font-size: 18px;
}

.spacer {
  flex: 1;
}

.buttons {
  display: flex;
  gap: 10px; /* Space between buttons */
  margin-right: 20px; /* Space between buttons and username */
}
}
}




