<!-- <div class="tax-forms-container"> -->
    <!-- <div class="header">
      <h1>On Boarding</h1>
    </div> -->
    <app-bot-view [url]="botUrl"></app-bot-view>
    <!-- <div class="cards-container">
        <mat-card class="tax-forms-card">
          <h2 class="card-title">Card 1 Title</h2>
          <p class="card-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </mat-card>
      </div> -->
  <!-- </div> -->
  