<div class="transactions-container">
    <div class="header">
      <h1>Transactions</h1>
    </div>

    <div class="cards-container">
      <app-table
         [displayedColumns]="productColumns"
          [dataSource]="products">
          </app-table>
        <!-- <mat-card class="transactions-card">
          <h2 class="card-title">Card 1 Title</h2>
          <p class="card-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </mat-card> -->
      </div>
  </div>
  