/* .container {
  background: #1b4f83;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
} */

.container {
  display: flex;
  height: 100vh; /* Full viewport height */
}

.left {
  flex: 0 0 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0; /* Optional background color */
}

.left img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #005eda;
}

.login-card {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.login-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #1b4f83;
}

.form-field {
  width: 100%;
  margin-bottom: 20px;
}

button {
  width: 100%;
  margin-top: 10px;
}

.account-option {
  text-align: center;
  margin-top: 20px;
}

.register-button {
  color: #007bff;
  cursor: pointer;
  font-weight: bold;
}

.register-button:hover {
  color: #0056b3;
}
