
<div class="table-container">
  
  @if (search) {
  <div class="table-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search">
    </mat-form-field>
  </div>
}
  
  <table mat-table [dataSource]="dataSource" matSort class="custom-table">
    @for (column of columns; track $index) {
      <ng-container [matColumnDef]="column.columnDef">
        <th mat-header-cell *matHeaderCellDef [mat-sort-header]="column.sortable ? column.columnDef : ''">
          @if (checkbox) {
           <mat-checkbox (change)="$event ? masterToggle() : null"
                       [checked]="selection.hasValue() && isAllSelected()"
                       [indeterminate]="selection.hasValue() && !isAllSelected()">
         </mat-checkbox>
         }
            {{ column.header }}
        </th> 
        <td mat-cell *matCellDef="let item">
            @if (checkbox) {
              <mat-checkbox class="checkbox" (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(item) : null"
              [checked]="selection.isSelected(item)"></mat-checkbox>
            }
          @switch (column.type) {
            @case ('action') {
              <button mat-button (click)="performAction(item)">{{ column.header }}</button>
            }
            @default {
              <ng-container>
                <span [class.clickable]="column.clickable" (click)="handleClick(item[column.columnDef])">
                  {{ item[column.columnDef] || '--' }}
                </span>
              </ng-container>
            }
          }
        </td>
      </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="options?.displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: options.displayedColumns;"></tr>
  </table>
  @if (pagination) {
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
  }
</div>
