/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1b4f83;
  } */
  
  .container {
    display: flex;
    height: 100vh; /* Full viewport height */
  }
  
  .left {
    flex: 0 0 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Optional background color */
  }
  
  .left img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  
  .right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #005eda;
  }

  .validation-card {
    max-width: 70%;
    width: 100%;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .validation-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #1b4f83;
  }

  .code-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .code-input {
    width: 10%;
    height: 3rem;
    font-size: 2rem;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
  }

  .error-message {
    color: red;
  }
  