<div class="home-container">
  <div class="background-image">
    <div class="overlay-text">
      <h1>Financial & Tax Services for the Dynamic Business Owners</h1>
      <button class="saving-btn">START SAVING</button>
    </div>
  </div>
  <div class="below-image-text">
    <h2>We use our decades of strategic tax planning and accounting experience to enable small business owners succeed and build wealth by helping them save hundreds of thousands of dollars.</h2>
  </div>
    <!-- <div class="header">
      <h1>Dashboard</h1>
      <button class="refer-link" (click)="referFriend()">Refer a Friend</button>
    </div>
    <div class="cards-container">
        <mat-card class="dashboard-card">
          <h2 class="card-title">Card 1 Title</h2>
          <p class="card-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </mat-card>
        <mat-card class="dashboard-card">
          <h2 class="card-title">Card 2 Title</h2>
          <p class="card-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </mat-card>
        <mat-card class="dashboard-card">
          <h2 class="card-title">Card 3 Title</h2>
          <p class="card-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </mat-card>
      </div> -->
  </div>
  