<div class="directory-viewer">
  <div class="sidebar">
    <h2>{{source}}</h2>
    <ul>
      @for (dir of directories; track $index) {
        <li (click)="openDirectory($event, dir)">
          <i class="material-icons">{{ (dir.isExpanded && dir.subDirectories) ? 'folder_open' : 'folder' }}</i>
          {{ dir.name }}
          <!-- @if (dir.subDirectories) {
            <span class="toggle-icon">
              {{ dir.isExpanded ? '-' : '+' }}
            </span>
          } -->
          @if (dir.isExpanded && dir.subDirectories) {
            <ul>
              @for (subDir of dir.subDirectories; track $index) {
                <li (click)="openDirectory($event, subDir)">
                  <i class="material-icons">{{ (subDir.isExpanded && subDir.subDirectories) ? 'folder_open' : 'folder' }}</i>
                  {{ subDir.name }}
                  <!-- @if (subDir.subDirectories) {
                    <span class="toggle-icon">
                      {{ dir.isExpanded ? '-' : '+' }}
                    </span>
                  } -->
                  @if (subDir.isExpanded && subDir.subDirectories) {
                    <ul>
                      @for (subSubDir of subDir.subDirectories; track $index) {
                        <li (click)="openDirectory($event, subSubDir)">
                          <i class="material-icons">{{ ( subSubDir.subDirectories) ? 'folder_open' : 'folder' }}</i>
                          {{ subSubDir.name }} 
                           <!-- @if (subSubDir.subDirectories) {
                            <span class="toggle-icon">
                              {{ dir.isExpanded ? '-' : '+' }}
                            </span>
                          } -->
                          <!-- Add more levels as needed -->
                        </li>
                      }
                    </ul>
                  }
                </li>
              }
            </ul>
          }
        </li>

      }
    </ul>
  </div>
  
  <div class="content">
    <div class="header">
      <div class="breadcrumbs">
        @for (crumb of breadcrumbs; track $index) {
          <ng-container>
            <span (click)="breadcrumbClick(crumb)">{{ crumb }}</span>
            @if($index < breadcrumbs.length - 1) {
              <ng-container> &gt; </ng-container>
            }
          </ng-container>
        }
      </div>
      <label class="upload-btn">
        Upload File
        <input type="file" (change)="uploadFile($event)" />
      </label>
    </div>
    
    @if(currentDirectory) {
      <div class="file-list">
        @if (currentDirectory.files.length == 0) {
          <h4>No Files in {{ currentDirectory.name }}</h4>
        }
        @else {
          <h4>Files in uploaded in {{ currentDirectory.name }}</h4>
          <ul>
            @for (file of currentDirectory.files; track $index) {
              <li>{{ file }}</li>
            }
          </ul>
        }
      </div>

    }
  </div>
</div>
